[build]


[alias]
# additional targets:
# 1: x86_64-unknown-linux-gnu (std)
# 2: x86_64-pc-windows-msvc (std)
# 3: x86_64-apple-darwin (std)
# 5: x86_64-unknown-none
# 6: i686-unknown-linux-gnu (std)
# 7: thumbv7m-none-eabi
# 8: aarch64-unknown-none

# CHECK
c = "check"
cb = "check --bin"
ce = "check --example"
cr = "check --release"
cu = "check --no-default-features -F=std"
cn = "check --no-default-features -F=no-std,safe"
cnu = "check --no-default-features -F=unsafe"
# additional targets:
cT1 = "check --target x86_64-unknown-linux-gnu"
cuT1 = "check --target x86_64-unknown-linux-gnu --no-default-features -F=std,unsafe"
cnT1 = "check --target x86_64-unknown-linux-gnu --no-default-features -F=no-std,safe"
cnuT1 = "check --target x86_64-unknown-linux-gnu --no-default-features -F=no-std,unsafe"
cT2 = "check --target x86_64-pc-windows-msvc"
cuT2 = "check --target x86_64-pc-windows-msvc --no-default-features -F=std,unsafe"
cnT2 = "check --target x86_64-pc-windows-msvc --no-default-features -F=no-std,safe"
cnuT2 = "check --target x86_64-pc-windows-msvc --no-default-features -F=no-std,unsafe"
cT3 = "check --target x86_64-apple-darwin"
cuT3 = "check --target x86_64-apple-darwin --no-default-features -F=std,unsafe"
cnT3 = "check --target x86_64-apple-darwin --no-default-features -F=no-std,safe"
cnuT3 = "check --target x86_64-apple-darwin --no-default-features -F=no-std,unsafe"
cnT5 = "check --target x86_64-unknown-none --no-default-features -F=no-std,safe"
cnuT5 = "check --target x86_64-unknown-none --no-default-features -F=no-std,unsafe"
cT6 = "check --target i686-unknown-linux-gnu"
cuT6 = "check --target i686-unknown-linux-gnu --no-default-features -F=std,unsafe"
cnT6 = "check --target i686-unknown-linux-gnu --no-default-features -F=no-std,safe"
cnuT6 = "check --target i686-unknown-linux-gnu --no-default-features -F=no-std,unsafe"
cnT7 = "check --target aarch64-unknown-none --no-default-features -F=no-std,safe"
cnuT7 = "check --target aarch64-unknown-none --no-default-features -F=no-std,unsafe"
cnT8 = "check --target thumbv7m-none-eabi --no-default-features -F=no-std,safe"
cnuT8 = "check --target thumbv7m-none-eabi --no-default-features -F=no-std,unsafe"

# CLIPPY
cl = "clippy"
clb = "clippy --bin"
cle = "clippy --example"
clr = "clippy --release"
clu = "clippy --no-default-features -F=std,unsafe"
cln = "clippy --no-default-features -F=no-std"
clnu = "clippy --no-default-features -F=no-std,unsafe"

# BUILD
b = "build"
bb = "build --bin"
be = "build --example"
br = "build --release"
brb = "build --release --bin"
bre = "build --release --example"
bu = "build --no-default-features -F=std,unsafe"
bn = "build --no-default-features -F=no-std"
bnu = "build --no-default-features -F=no-std,unsafe"
# additional targets:
bT1 = "build --target i686-unknown-linux-gnu"
buT1 = "build --target i686-unknown-linux-gnu --no-default-features -F=unsafe"
bt2 = "build --target i686-unknown-linux-gnu"
buT2 = "build --target i686-unknown-linux-gnu --no-default-features -F=unsafe"
bT3 = "build --target i686-unknown-linux-gnu"
buT3 = "build --target i686-unknown-linux-gnu --no-default-features -F=unsafe"
#
bnT5 = "build --target x86_64-unknown-none --no-default-features -F=no-std,safe"
bnuT5 = "build --target x86_64-unknown-none --no-default-features -F=no-std,unsafe"
bT6 = "build --target i686-unknown-linux-gnu"
buT6 = "build --target i686-unknown-linux-gnu --no-default-features -F=unsafe"
bnT6 = "build --target i686-unknown-linux-gnu --no-default-features -F=no-std,safe"
bnuT6 = "build --target i686-unknown-linux-gnu --no-default-features -F=no-std,unsafe"
bnT7 = "build --target aarch64-unknown-none --no-default-features -F=no-std,safe"
bnuT7 = "build --target aarch64-unknown-none --no-default-features -F=no-std,unsafe"
bnT8 = "build --target thumbv7m-none-eabi --no-default-features -F=no-std,safe"
bnuT8 = "build --target thumbv7m-none-eabi --no-default-features -F=no-std,unsafe"

# RUN
r = "run"
rb = "run --bin"
re = "run --example"
rr = "run --release"
rrb = "run --release --bin"
rre = "run --release --example"
ru = "run --no-default-features -F=std,unsafe"
rub = "run --no-default-features -F=std,unsafe --bin"
rue = "run --no-default-features -F=std,unsafe --example"
rn = "run --no-default-features -F=no-std"
rnb = "run --no-default-features -F=no-std --bin"
rne = "run --no-default-features -F=no-std --example"
rnu = "run --no-default-features -F=no-std,unsafe"
rN = "run --target thumbv7m-none-eabi --no-default-features -F=no-std,safe"
rNu = "run --target thumbv7m-none-eabi --no-default-features -F=no-std,unsafe"

# TEST
t = "test"
t_ = "test -- --nocapture"
t_1 = "test -- --test-threads 1 --nocapture"
tu = "test --no-default-features -F=std,unsafe"
tn = "test --no-default-features -F=no-std"
tnu = "test --no-default-features -F=no-std,unsafe"
td = "test --doc"
tdu = "test --doc --no-default-features -F=std,unsafe"
tdn = "test --doc --no-default-features -F=no-std"
tdnu = "test --doc --no-default-features -F=no-std,unsafe"

# PUBLISH
p = "publish --dry-run"
pa = "publish --dry-run --allow-dirty"
PUBLISH = "publish"
PUBLISHa = "publish --allow-dirty"

# CLEAN PACKAGE
Cp = "clean --package"
Crp = "clean --release --package"

# DOC
d = "doc --no-deps"
do = "doc --no-deps --open"
dd = "doc"
ddo = "doc --open"
# +nightly
nd = "doc --no-deps --no-default-features -F=nightly_docs"
ndo = "doc --open --no-deps --no-default-features -F=nightly_docs"
ndd = "doc --no-default-features -F=nightly_docs"
nddo = "doc --open --no-default-features -F=nightly_docs"

# TREE
tr = "tree"
trf = "tree --format {p}:{f}" # with feature list
trr = "tree --format {p}:{r}" # with repository url

#/ cargo subcommands: /#

# https://crates.io/crates/cargo-expand
E = "expand"
Eb = "expand --bin"
Ee = "expand --example"
El = "expand --lib"

# https://crates.io/crates/cargo-show-asm
# Functions need not to be inlined. Defaults to release mode.
A = "asm --simplify -p devela"
Ab = "asm --simplify -p devela --bin"
Ae = "asm --simplify -p devela --example"
Al = "asm --simplify -p devela --lib"
Aub = "asm --simplify -p devela --no-default-features --features=unsafe,std --bin"
Aue = "asm --simplify -p devela --no-default-features --features=unsafe,std --example"
Aul = "asm --simplify -p devela --no-default-features --features=unsafe,std --lib"

# additional targets
# 1: x86_64-unknown-linux-gnu (std)
AbT1 = "asm --simplify -p devela --target x86_64-unknown-linux-gnu --no-default-features --features=std,safe --bin"
AubT1 = "asm --simplify -p devela --target x86_64-unknown-linux-gnu --no-default-features --features=std,unsafe --bin"
AeT1 = "asm --simplify -p devela --target x86_64-unknown-linux-gnu --no-default-features --features=std,safe --example"
AueT1 = "asm --simplify -p devela --target x86_64-unknown-linux-gnu --no-default-features --features=std,unsafe --example"
AlT1 = "asm --simplify -p devela --target x86_64-unknown-linux-gnu --no-default-features --features=std,safe --lib"
AulT1 = "asm --simplify -p devela --target x86_64-unknown-linux-gnu --no-default-features --features=std,unsafe --lib"
# 2: x86_64-pc-windows-msvc (std)
AbT2 = "asm --simplify -p devela --target x86_64-pc-windows-msvc --no-default-features --features=std,safe --bin"
AubT2 = "asm --simplify -p devela --target x86_64-pc-windows-msvc --no-default-features --features=std,unsafe --bin"
AeT2 = "asm --simplify -p devela --target x86_64-pc-windows-msvc --no-default-features --features=std,safe --example"
AueT2 = "asm --simplify -p devela --target x86_64-pc-windows-msvc --no-default-features --features=std,unsafe --example"
AlT2 = "asm --simplify -p devela --target x86_64-pc-windows-msvc --no-default-features --features=std,safe --lib"
AulT2 = "asm --simplify -p devela --target x86_64-pc-windows-msvc --no-default-features --features=std,unsafe --lib"
# 3: x86_64-apple-darwin (std)
AbT3 = "asm --simplify -p devela --target x86_64-apple-darwin --no-default-features --features=std,safe --bin"
AubT3 = "asm --simplify -p devela --target x86_64-apple-darwin --no-default-features --features=std,unsafe --bin"
AeT3 = "asm --simplify -p devela --target x86_64-apple-darwin --no-default-features --features=std,safe --example"
AueT3 = "asm --simplify -p devela --target x86_64-apple-darwin --no-default-features --features=std,unsafe --example"
AlT3 = "asm --simplify -p devela --target x86_64-apple-darwin --no-default-features --features=std,safe --lib"
AulT3 = "asm --simplify -p devela --target x86_64-apple-darwin --no-default-features --features=std,unsafe --lib"
# 5: x86_64 (no-std):
AnbT5 = "asm --simplify -p devela --target x86_64-unknown-none --no-default-features --features=no-std,safe --bin"
AnubT5 = "asm --simplify -p devela --target x86_64-unknown-none --no-default-features --features=no-std,unsafe --bin"
AneT5 = "asm --simplify -p devela --target x86_64-unknown-none --no-default-features --features=no-std,safe --example"
AnueT5 = "asm --simplify -p devela --target x86_64-unknown-none --no-default-features --features=no-std,unsafe --example"
AnlT5 = "asm --simplify -p devela --target x86_64-unknown-none --no-default-features --features=no-std,safe --lib"
AnulT5 = "asm --simplify -p devela --target x86_64-unknown-none --no-default-features --features=no-std,unsafe --lib"
# 6: i686 (std)
AbT6 = "asm --simplify -p devela --target i686-unknown-linux-gnu --no-default-features --features=std,safe --bin"
AubT6 = "asm --simplify -p devela --target i686-unknown-linux-gnu --no-default-features --features=std,unsafe --bin"
AeT6 = "asm --simplify -p devela --target i686-unknown-linux-gnu --no-default-features --features=std,safe --example"
AueT6 = "asm --simplify -p devela --target i686-unknown-linux-gnu --no-default-features --features=std,unsafe --example"
AlT6 = "asm --simplify -p devela --target i686-unknown-linux-gnu --no-default-features --features=std,safe --lib"
AulT6 = "asm --simplify -p devela --target i686-unknown-linux-gnu --no-default-features --features=std,unsafe --lib"
# 7: thumbv7m-none-eabi (no-std)
AnbT7 = "asm --simplify -p devela --target aarch64-unknown-none --no-default-features --features=no-std,safe --bin"
AnubT7 = "asm --simplify -p devela --target aarch64-unknown-none --no-default-features --features=no-std,unsafe --bin"
AneT7 = "asm --simplify -p devela --target aarch64-unknown-none --no-default-features --features=no-std,safe --example"
AnueT7 = "asm --simplify -p devela --target aarch64-unknown-none --no-default-features --features=no-std,unsafe --example"
AnlT7 = "asm --simplify -p devela --target aarch64-unknown-none --no-default-features --features=no-std,safe --lib"
AnulT7 = "asm --simplify -p devela --target aarch64-unknown-none --no-default-features --features=no-std,unsafe --lib"
# 8: aarch64-unknown-none (no-std)
AnbT8 = "asm --simplify -p devela --target thumbv7m-none-eabi --no-default-features --features=no-std,safe --bin"
AnubT8 = "asm --simplify -p devela --target thumbv7m-none-eabi --no-default-features --features=no-std,unsafe --bin"
AneT8 = "asm --simplify -p devela --target thumbv7m-none-eabi --no-default-features --features=no-std,safe --example"
AnueT8 = "asm --simplify -p devela --target thumbv7m-none-eabi --no-default-features --features=no-std,unsafe --example"
AnlT8 = "asm --simplify -p devela --target thumbv7m-none-eabi --no-default-features --features=no-std,safe --lib"
AnulT8 = "asm --simplify -p devela --target thumbv7m-none-eabi --no-default-features --features=no-std,unsafe --lib"

# https://crates.io/crates/cargo-supply-chain
S = "supply-chain"
Sc = "supply-chain crates"
Sp = "supply-chain publishers"
Su = "supply-chain update"
