permissions:
  contents: read

# runs on push to the main branch, and PRs
on:
  push:
    branches: [main]
  pull_request:
name: check

jobs:
  # 1. format
  fmt:
    name: "stable / fmt"
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v5
        with:
            submodules: true

      - name: "Install stable"
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: "rustfmt +stable --version"
        run: rustfmt +stable --version

      - name: "./tools/rustfmt check all exclude"
        run: ./tools/rustfmt check all exclude

  # 2. clippy lints
  clippy:
    name: "${{ matrix.toolchain }} / clippy"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable]
        # toolchain: [stable, beta]
    steps:
      - name: "checkout"
        uses: actions/checkout@v5
        with:
            submodules: true

      - name: "Install ${{ matrix.toolchain }}"
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy

      - name: "cargo clippy -F all,std,unsafe"
        run: cargo clippy -F all,std,unsafe,__dbg

      - name: "cargo clippy -F all,safe"
        run: cargo clippy -F all,safe,__dbg

  # 3. documentation
  doc:
    name: "nightly docs"
    runs-on: ubuntu-latest
    steps:
      - name: "checkout"
        uses: actions/checkout@v5
        with:
            submodules: true

      # - name: "Install libraries via APT"
      #   run: |
      #     sudo apt update

      # NOTE: not needed; using cargo-script
      # - name: "install rust-script"
      #   run: cargo install rust-script;

      - name: "./tools/check.rs --docs --install-nightly"
        run: |
          echo "Running nightly docs with RUSTFLAGS: $RUSTFLAGS"
          ./tools/check.rs --docs --install-nightly
        env:
          RUSTFLAGS: "--cfg nightly -Ctarget-cpu=native"
          RUSTDOCFLAGS: "--cfg nightly -Ctarget-cpu=native"

      # NOTE: old manual version of docs compilation
      # - name: "Install nightly"
      #   uses: dtolnay/rust-toolchain@nightly
      # - name: "cargo +nightly doc -F _docs,__dbg"
      #   run: |
      #     echo "Running nightly docs with RUSTFLAGS: $RUSTFLAGS"
      #     cargo doc -F _docs,__dbg
      #   env:
      #     RUSTFLAGS: "--cfg nightly -Ctarget-cpu=native"
      #     RUSTDOCFLAGS: "--cfg nightly -Ctarget-cpu=native"

  # 4. minimum supported Rust version
  msrv:
    name: "ubuntu / ${{ matrix.msrv }}"
    runs-on: ubuntu-latest
    # we use a matrix here just because env can't be used in job names
    # https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability
    strategy:
      matrix:
        msrv: [1.92.0] # sync with ../../{README.md, Cargo.toml}
    steps:
      - name: "checkout"
        uses: actions/checkout@v5
        with:
            submodules: true

      - name: "Install ${{ matrix.msrv }}"
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.msrv }}

      - name: "cargo +${{ matrix.msrv }} check -F all,std,unsafe,__dbg"
        run: cargo check -F all,std,unsafe,__dbg

      - name: "cargo +${{ matrix.msrv }} check -F all,safe,__dbg"
        run: cargo check -F all,safe,__dbg
